<div class="row">
	<div class="col-md-6 col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
			{{#each attrs.model as |contact|}}
				<tr>
				  <td>{{#link-to 'contacts.contact' contact}}{{contact.fullName}}{{/link-to}}</td>
				  <td>{{contact.fullAddress}}</td>
			  </tr>
			{{/each}}
			</tbody>
		</table>
		{{link-to 'Create Contact' 'contacts.create' class="btn btn-primary create-contact-btn"}}
	</div>
	<div class="col-md-6 col-sm-12 contact-panel">
		{{outlet}}
	</div>
</div>
